* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hero {
  /* border: 1px solid; */
  height: 70vh;
  background-image: url("/public/globe-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: white;
}
